name: Continuous Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # https://github.com/marketplace/actions/markdown-link-check
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'yes'
      # https://github.com/marketplace/actions/markdown-to-pdf-and-html
      - uses: baileyjm02/markdown-to-pdf@v1
        with:
          input_path: ./**.md
          output_dir: generated-pdfs
          build_html: false
      - uses: actions/upload-artifact@v3
        with:
          name: pdfs
          path: generated-pdfs
